{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:flowtype/recommended"]
}
